.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.results-title {
  font-size: 20px;
  margin-bottom: 35px;
  text-align: left;
}
.submit {
  width: 200px;
}
.results {
  padding: 8px;
}

.safe {
  background-color: lightgrey;
}

.detected {
  background-color: rgb(200, 118, 118);
}
.disease-title {
  font-size: 20px;
  margin-bottom: 25px;
}
.square {
  border: 1px transparent;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.diagnostic {
  text-align: center;
  margin-bottom: 40px;
}

.error {
  color: #ff0000;
  font-size: 20px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 70px;
  height: 70px;
  margin-top: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.positive {
  font-weight: 700;
}

.legend {
  display: inline-block;
  margin-left: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* table.results-table-wrap {
  table-layout: fixed;
} */

.results-table {
  display: flex;
  justify-content: center;
}

body .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 12px;
  border: 1px solid #d6c9c9;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ddd;
}

th {
  background-color: #007bff;
  color: white;
}

tr:hover {
  background-color: rgb(161, 182, 205);
}

.treatment {
  text-align: justify;
  margin-top: 50px;
}

.chart-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.chart {
  margin: 10px;
  padding: 20px;
  width: 40%;
  flex: 0;
}

.App-main {
  padding: 15px;
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-table {
  padding: 15px;
  margin-top: 40px;
  border-radius: 12px;
}

tr td {
  text-align: center;
}

/* .positive {
  color: rgb(70, 169, 70);
} */

.App-link {
  color: #61dafb;
}

button.search {
  font-size: 18px;
  width: 200px;
  margin-left: 15px;
}

button {
  height: 30px;
  background-color: #007bff;
  box-shadow: 3px 3px 0 0 #ccc;
  color: #fff;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #669bd4;
}

.actions {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.delete {
  background-color: #ff0000;
}

@media (max-width: 767px) {
  button.search {
    margin: 0 auto;
    width: 55%;
  }
  input.search-records {
    width: 50%;
  }
}

input.search-records {
  margin: 0 auto;
  width: 200px;
  height: 30px;
  outline: none;
  margin: 20px auto;
}

/* Modal */

.inactive {
  display: none;
}

.active {
  display: block;
}
.open-file {
  color: #0b5cb4;
  cursor: pointer;
}
.open-file:hover {
  text-decoration: underline;
}
.symptoms-wrapper {
  width: 80%;
  margin: 50px auto 50px;
  text-align: justify;
}

.patient-results-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.symptoms {
  font-size: 20px;
  margin-bottom: 35px;
  text-align: left;
}

.symptoms-title {
  flex: 16;
}
.symptoms-title p:first-child,
.symptoms-value p:first-child,
.symptoms-value input:first-child {
  border-top: 1px solid #ccc;
}
.symptoms-title p {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px;
}

.symptoms-title p.positive {
  border: 2px solid #ff0000;
}

.symptoms-value {
  flex: 4;
  text-align: center;
}
.symptoms-value p {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px;
  /* height: 20px; */
}
.symptoms-value input {
  margin-top: 0;
  margin-bottom: 0;
  padding: 7px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 65%;
  max-height: 600px;
  height: 65%;
  min-height: 500px;
  overflow-y: scroll;
}

.modal-title {
  font-size: 26px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
